/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  /*background-color: #f5f5f5;*/
}
.purple-slack{
  background-color: #876183 !important;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
	height: auto;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.page-footer{
  margin: 0;
}
.footer-mobile{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
#map {
  height: 400px;
  width: 100%;
}

#content {
  margin-top: 50px;
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}
