@import url('https://fonts.googleapis.com/css?family=Raleway:400i,600i');
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.brand-header{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-style: italic;
	font-size: 70px !important;
}
#menu{
	padding: 10px;
	width: 100%;
	height: calc(5% + 25px);
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 30px;
	font-weight: 400;
	position: fixed;
	left: 0%;
	top: 0%;
	color: #000;
	z-index: 99;
}
.purple-slack{
  background-color: #876183 !important;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
	#menu,.arrow{
		display: none;
	}
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (min-width : 992px) {
  html,body, main{
    min-height: 100%;
    height: 100%;
  }
  .arrow{
		margin-left: -15px;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    bottom: 10px;
    animation: bounce 0.6s infinite alternate;
    -webkit-animation: bounce 0.6s infinite alternate;
  }
  .maxheight{
    min-height: 100%;
    position: relative; 
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.page-footer{
  margin: 0;
}
.footer-mobile{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
#map {
  height: 400px;
  width: 100%;
}

#content {
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}

/* Timeline */

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}
